In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv('Customer.csv')
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
#Creating clusters based on annual income and spending score

X=dataset.iloc[:,[3,4]].values

In [4]:
from sklearn.cluster import DBSCAN

In [5]:
dbscan=DBSCAN(eps=3,min_samples=4)
model=dbscan.fit(X)

In [8]:
# -1 is for outliers and others are the clusters

label=model.labels_
label

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1,  0,  0,  0,  0, -1, -1,  0, -1,  0, -1,  0,  0,
       -1,  0, -1, -1,  0, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  2,  1,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  2,
        3,  3, -1,  3, -1, -1,  4, -1, -1, -1,  4,  5,  4, -1,  4,  5, -1,
        5,  4, -1,  4,  5, -1, -1,  6, -1, -1, -1,  7, -1,  6, -1,  6, -1,
        7, -1,  6, -1,  7, -1,  7, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
        8, -1,  8, -1,  8, -1,  8, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1], dtype=int64)

In [10]:
#Identifying the points which makes up the core points

from sklearn import metrics

sample_cores=np.zeros_like(label,dtype=bool)
sample_cores[dbscan.core_sample_indices_]=True

In [14]:
#Calculating the number of clusters

n_clusters=len(set(label))- (1 if -1 in label else 0)
n_clusters

9

In [15]:
print(metrics.silhouette_score(X,label))

-0.1908319132560097